/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  background: #1f1f1f;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  height: 10vh;
  width: 100%;
  background: #1f1f1f;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 15px rgb(0, 132, 255);
}

nav {
  width: 90%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  flex: 1 1 20rem;
  color: white;
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
}
h1:hover {
  color: rgb(0, 132, 255);
  text-shadow: 1px 1px 10px rgb(0, 132, 255);
}

ul {
  flex: 1 1 20rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  flex: 1 1 10rem;
  color: white;
  font-size: 2rem;
  text-align: end;
  transition: all 0.3s ease-in-out;
  position: relative;
}

li:hover {
  color: rgb(0, 132, 255);
  text-shadow: 1px 1px 10px rgb(0, 132, 255);
}

.navi {
  position: absolute;
  top: -40%;
  right: 0;
  width: 40%;
  height: 5px;
  background: white;
  transform-origin: right;
  transform: scale(0, 1);
  transition: all 0.3s ease-in-out;
}

li:hover .navi {
  transform: scale(1, 1);
}

.glow {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.glow span {
  font-size: 20rem;
  color: #1f1f1f;
  transition: all 0.3s ease-in-out;
}

.glow span:hover {
  font-size: 25rem;
  color: rgb(0, 132, 255);
}

@media screen and (max-width: 1000px) {
  nav {
    flex-wrap: wrap;
    text-align: center;
  }
  ul {
    margin-top: 1rem;
  }
  li {
    text-align: center;
  }

  .navi {
    position: absolute;
    top: -10%;
    right: 50%;

    width: 40%;
    height: 5px;
    background: white;
    transform-origin: right;
    transform: translateX(100%) scale(0, 1);
    transition: all 0.3s ease-in-out;
  }
  li:hover .navi {
    transform: translateX(50%) scale(1.5, 1);
  }
  .glow span {
    font-size: 10rem;
    color: #1f1f1f;
    transition: all 0.3s ease-in-out;
  }

  .glow span:hover {
    font-size: 12rem;
    color: rgb(0, 132, 255);
  }
}
